<nav>
  <ul>
    <li><strong>Belog</strong></li>
  </ul>
  <ul>
    <li><a href="/">Belogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create Belog</a></li>
  </ul>
</nav>