<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>About | <%= title  %></title>
</head>
<style>
  .not-found{
    text-align: center;
  }
</style>
<body class="container">
  <nav>
    <ul>
      <li><strong>Belog</strong></li>
    </ul>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <div class="not-found content">
    <article>
      <h1>OOPS!, page not found</h1>
    </article>
  </div>

</body>
</html>