<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>Belog | <%= title  %></title>
</head>
<style>
  .about-us{
    text-align: center;
  }
</style>
<body class="container">
  <nav>
    <ul>
      <li><strong>Belog</strong></li>
    </ul>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <div class="about content">
    <article>
      <h2 class="about-us">About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sunt repellat vel. Asperiores voluptatum ipsum, aperiam accusantium ex molestias quaerat! Iure molestias aliquam, voluptatibus nulla pariatur hic culpa dicta est?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sed explicabo. Aut atque autem ex quisquam debitis deserunt reiciendis similique ullam unde repudiandae et provident dicta porro, facilis nulla laborum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reiciendis quasi dolore, quo ad voluptates excepturi, a nesciunt nihil ipsam repellendus omnis reprehenderit? Suscipit accusamus ratione, deserunt laboriosam asperiores quas?</p>
    </article>
  </div>

</body>
</html>