<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

<style>
  .about-us{
    text-align: center;
  }
</style>
<body class="container">
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <article>
      <h2 class="about-us">About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sunt repellat vel. Asperiores voluptatum ipsum, aperiam accusantium ex molestias quaerat! Iure molestias aliquam, voluptatibus nulla pariatur hic culpa dicta est?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sed explicabo. Aut atque autem ex quisquam debitis deserunt reiciendis similique ullam unde repudiandae et provident dicta porro, facilis nulla laborum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reiciendis quasi dolore, quo ad voluptates excepturi, a nesciunt nihil ipsam repellendus omnis reprehenderit? Suscipit accusamus ratione, deserunt laboriosam asperiores quas?</p>
    </article>
  </div>
  
  <%- include('./partials/footer.ejs') %>

</body>
</html>